<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>For Member</h1>
  <div sec:authorize="hasRole('USER')">has USER Role</div>
  <div sec:authorize="hasRole('MANAGER')">has MANAGER Role</div>
  <div sec:authorize="hasRole('ADMIN')">has ADMIN Role</div>


  <div sec:authorize="isAuthenticated()">
    Only Authenticated users can see this Text.
  </div>

  <p>Authenticated username:</p>
  <div sec:authentication="name"></div>
  <p>Authenticated user roles:</p>
  <div sec:authentication="principal.authorities"></div>
</body>
</html>